@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.content {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginContainer {
  width: 300px;
  margin: 100px 0;
  border: 1px solid #e6e6e6;
  background-color: white;
  border-radius: 3px;
  padding: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.loginLogo {
  width: 200px;
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.loginLogo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.loginInput {
  width: 290px;
  height: 50px;
  margin: 20px 0;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  display: flex;
  align-items: center;
}

.loginInput input {
  width: 280px;
  height: 90%;
  border: none;
  padding: 0 20px;
}

.loginInput input:focus {
  outline: none;
}

.loginButton {
  width: 293px;
  height: 45px;
  margin-top: 40px;
}
.loginButton button {
  width: 100%;
  height: 100%;
  border: none;
  color: white;
  font-size: 15px;
  font-weight: 600;
  border-radius: 3px;
  background-color: #0095f6;
  cursor: pointer;
}
